.wrap {
    width: 1000px;
    margin: 0 auto;
}

.main {
    text-align: center;
    background: rgba(255, 255, 255, 0.04);
    color: #FFF;
    font-weight: bold;
    margin-top: 160px;
    border: 1px solid rgba(102, 102, 102, 0.31);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.main h3 {
    font-size: 16px;
    text-align: left;
    padding: 30px 30px;
}
.main h2{
    margin-top:0!important;
}
.main h1 {
    font-size: 60px;
    margin-top: 15px;
    color: #1CD3CB;
    text-transform: uppercase;
    font-family: 'Fenix', serif;
}

.main p {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.6em;
}

.main span.error {
    color: #48C8D3;
    font-size: 18px;
}

.main p span {
    font-size: 14px;
    color: #24817A;
}

.search {
    border: 1px solid rgba(173, 173, 173, 0);
    margin-left: 320px;
    margin-top: 20px;
    width: 390px;
    position: relative;
    background: rgba(156, 156, 156, 0.12);
    box-shadow: inset 0px -1px 5px rgba(94, 94, 94, 0.19);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

form input[type="text"] {
    border: none;
    outline: none;
    width: 289px;
    padding: 8px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0);
    color: #A2A2A2;
}

form input[type="submit"] {
    border: none;
    background: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 13px;
    color: #EEE;
    box-shadow: inset 1px -2px 8px rgba(0, 0, 0, 0.33);
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #174242;
}

form input[type="submit"]:hover {
    box-shadow: inset 0px 0px 4px #222;
    color: #FFF;
}

.icons {
    padding-bottom: 20px;
    text-align: right;
}

.icons p {
    padding-right: 130px;
    color: #D5CECE;
    font-size: 13px;
    cursor: pointer;
}

.icons p:hover {
    text-decoration: underline;
}

.icons ul {
    padding-right: 20px;
}

.icons li {
    display: inline-block;
    padding-top: 10px;
}

.icons li a {
    margin: 2px;
}

.footer {
    text-align: right;
    padding-top: 10px;
}

.footer p {
    font-size: 12px;
    color: #DDD;
}

.footer p a {
    font-size: 13px;
    color: #076161;
}

.footer p a:hover {
    color: #0C7C7C;
}