/* -----------------------------------------------------------------------


 Blueprint CSS Framework 1.0.1
 http://blueprintcss.org

   * Copyright (c) 2007-Present. See LICENSE for more info.
   * See README for instructions on how to use Blueprint.
   * For credits and origins, see AUTHORS.
   * This is a compressed file. See the sources in the 'src' directory.

----------------------------------------------------------------------- */

/* print.css */
hr {
    background: #ccc;
    color: #ccc;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
}

hr.space {
    background: #fff;
    color: #fff;
    visibility: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

code {
    font: .9em "Courier New", Monaco, Courier, monospace;
}

a img {
    border: none;
}

p img.top {
    margin-top: 0;
}

blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: .9em;
}

.small {
    font-size: .9em;
}

.large {
    font-size: 1.1em;
}

.quiet {
    color: #999;
}

.hide {
    display: none;
}

a:link, a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
}

a:link:after, a:visited:after {
    content: " (" attr(href) ")";
    font-size: 90%;
}

.col-1{width:8.333333333%;}
.col-2{width:16.66666667%;}
.col-3{width:25%;}
.col-4{width:33.33333333%;}
.col-5{width:41.66666667%;}
.col-6{width:50%;}
.col-7{width:58.33333333%;}
.col-8{width:66.66666667%;}
.col-9{width:75%;}
.col-10{width:83.33333333%;}
.col-11{width:91.66666667%;}
.col-12{width:100%;}

body {
    line-height: 1.5;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
    color: #000;
    background: none;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

.container {
    background: none;
}

hr {
    background: #ccc;
    color: #ccc;
    width: 100%;
    height: 2px;
    margin: 2em 0;
    padding: 0;
    border: none;
}

div.space {
    width: 100%;
    background-color: #ffffff;
    height: 25pt;

}

h1, h2, h3, h4, h5, h6 {
    font-family: "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

code {
    font: .9em "Courier New", Monaco, Courier, monospace;
}

a img {
    border: none;
}

p img.top {
    margin-top: 0;
}

blockquote {
    margin: 1.5em;
    padding: 1em;
    font-style: italic;
    font-size: .9em;
}

.small {
    font-size: .9em;
}

.large {
    font-size: 1.1em;
}

.quiet {
    color: #999;
}

.hide {
    display: none;
}

a:link, a:visited {
    background: transparent;
    font-weight: 700;
    text-decoration: underline;
}

a:link:after, a:visited:after {
    content: " (" attr(href) ")";
    font-size: 90%;
}

table th{font-weight: bold!important;}

table th, table td {
    padding: 1pt;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table th, table th * {
    font-weight: bold;
}

table td.pad5 {
    padding: 5pt;
}

table.border1 td, table.border1 th {
    border: .1mm solid #dfdfdf;
}

.border1, .border1 .border1, .border1 .border1 .border1, .border1 .border1 .border1 .border1 {
    border: .1mm solid #dfdfdf;
}

.border-bottom1, .border-bottom1 .border-bottom1, .border-bottom1 .border-bottom1 .border-bottom1, .border-bottom1 .border-bottom1 .border-bottom1 .border-bottom1 {
    border-bottom: .1mm solid #dfdfdf;
}

.border-left1, .border-left1 .border-left1, .border-left1 .border-left1 .border-left1, .border-left1 .border-left1 .border-left1 .border-left1 {
    border-left: .1mm solid #dfdfdf;
}

.bg-dark {
    background-color: #efefef;
}

.strong {
    font-weight: bold;
}

p {
    text-align: justify;
}

.half {
    width: 50% !important;
}

.mgr_10 {
    margin-right: 10px;
}

.mgb_10 {
    margin-bottom: 10px;
}

.mgb_20 {
    margin-bottom: 20px;
}

.mgt_30 {
    margin-top: 30px;
}

.mgt_40 {
    margin-top: 40px;
}

.mgt_20 {
    margin-top: 20px;
}

.mgl_5 {
    margin-left: 5px;
}

.mgl_10 {
    margin-left: 10px;
}

.mgl_15 {
    margin-left: 15px;
}

.mgl_20 {
    margin-left: 20px;
}

.mgl_25 {
    margin-left: 25px;
}

.mgl_30 {
    margin-left: 30px;
}

.mgl_35 {
    margin-left: 35px;
}

.mgl_40 {
    margin-left: 40px;
}

.mgl_50 {
    margin-left: 50px;
}

.mgl_60 {
    margin-left: 60px;
}

.mgt_10 {
    margin-top: 10px;
}

.mgt_5 {
    margin-top: 5px;
}

.mg_0 {
    margin: 0;
}

.pl_20 {
    padding-left: 20px;
}

.text-left{text-align:left!important;}
.text-right{text-align:right!important;}
.text-center{text-align:center!important;}
.text-right{text-align: right;}

tr.text-center th, tr.text-center td{text-align: center;}
tr.text-left th, tr.text-left td{text-align: left;}
tr.text-right th, tr.text-right td{text-align: right;}

td.text-center{text-align: center!important;}
tr td.text-left{text-align: left!important;}
tr td.text-right{text-align: right!important;}
.alert-box {
    color:#555;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;font-size:11px;
    padding:10px 36px;
    margin:10px;
}
.alert-box span {
    font-weight:bold;
    text-transform:uppercase;
}
.error {
    background-color:#ffecec; /*url('images/error.png') no-repeat 10px 50%;*/
    border:1px solid #f5aca6;
}
.success {
    background-color:#e9ffd9; /*url('images/success.png') no-repeat 10px 50%;*/
    border:1px solid #a6ca8a;
}
.warning {
    background-color:#fff8c4; /*url('images/warning.png') no-repeat 10px 50%;*/
    border:1px solid #f2c779;
}
.notice {
    background-color:#e3f7fc; /*url('images/notice.png') no-repeat 10px 50%;*/
    border:1px solid #8ed9f6;
}