.icon-task{
	background:url('../images/skin/task_16x16.png') no-repeat center center;
}
.icon-transferir_caixa{
	background:url('../images/skin/transferir_caixa_16x16.png') no-repeat center center;
}
.icon-acao_estrategica{
	background:url('../images/skin/acao_estrategica_16x16.png') no-repeat center center;
}
.icon-download{
	background:url('../images/skin/download_16x16.png') no-repeat center center;
}
.icon-message-closed-blue{
	background:url('../images/skin/message_closed_blue_16x16.png') no-repeat center center;
}
.icon-message-closed-white{
	background:url('../images/skin/message_closed_white_16x16.png') no-repeat center center;
}
.icon-ok-border-black{
	background:url('../images/skin/ok_tick_border_black_16x16.png') no-repeat center center;
}

.panelHeaderText {
	text-align:center;
}

/* EsyUi */
.tooltip-content {
    font-size:small;
    font-family: Arial, 'Short Stack', Corbel, Georgia, "Times New Roman", Times, serif;
}
.panelMsgHeader, .panelMsgHeader > div.panel-title {
	background-color: #000066;
	color: #ffffff;
	font-size:medium;
}

.combo {
    border-color: #CCCCCC;
}

.window-mask {
	background: none repeat scroll 0 0 #000;
}
.window-mask {
	opacity: 0.6;
}